@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.self-portrait-inline {
    display: none;
}

ul {
    list-style: none
}

figure {
    padding: 0;
    margin: 2em 2em 0 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    color: #26313A;
    background-repeat: repeat;
    transition: all 0.5s ease;
    /* background-image: url('/images/gradientbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
  */
    line-height: 1.65;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
}

.colorchange {
    background-color: #ffcdcd;;
}

.wrap,
.list-pages {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 2;
}

.hero {
    position: relative;
    width: 80%;
    padding: 20px;
    text-align: center;
    max-width: 1488px;
    overflow: hidden;
    z-index: 2;
}

.stagger1 {
    padding: 1rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* The image used */
    background-image: url('/images/gradientbackground.png');

    /* Add the blur effect */
    filter: blur(200px);
    -webkit-filter: blur(200px);

    /* Full height */
    height: 90%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.player {
    aspect-ratio: 16/9;
    width: 100%;
}

.inner {
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.circle {
    position: absolute;
    bottom: 8em;
    right: 10em;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.text {
    position: absolute;
    color: #ff006f;
    width: 100%;
    height: 100%;
    font-weight: 400;
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    transform-origin: 0 175px;

}

/*
.nav-container a {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

header .logo {
  font-weight: bold;
}

header ul {
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    max-width: 1488px;
    margin: 0 auto;
}

footer h1 {
    font-size: 1em;
}

footer ul {
    display: flex;
}

footer ul a {
    display: block;
    padding: 0 1em;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hero .content h1 {
    font-weight: 300;
    margin: 0;
}

.scroll {
    margin-top: 2em;
}

.scroll svg,
.scroll p {
    text-align: center;
}

section {
    text-align: left;
}

.featured-title {
    font-weight: 300;
    font-size: 2em;
    letter-spacing: .02em;
    display: grid;
    grid-row-end: 3;
}

.featured-desc {
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 500;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1488px;
}

.case-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.case-img img {
    max-width: 75%;
}

.case.right .case-img {
    align-items: flex-end;
}

.case-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.case.right .case-info {
    align-items: flex-start;
    text-align: right;
}

.case-year {
    color: #393939;
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
}

.case-title {
    color: #26313A;
    font-size: 3rem;
    line-height: 1.25;
    margin: 0;
    font-weight: 500;
}

.case-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.case-cta {
    transition: transform 0.3s ease-in-out;
}

.case-cta:hover {
    transform: translateX(0.5rem);
}

.portfolio-container a img {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*marquee code*/
.marquee {
    position: relative;
    overflow: hidden;

}

section .scroll {
    width: 100%;
    display: flex;
}

section .scroll div {
    font-size: 4em;
    white-space: nowrap;
    font-weight: 900;
    animation: marquee 40s linear infinite;
    animation-delay: -40s;
}

section .scroll div:nth-child(2) {
    padding-left: .3em;
    animation: marquee2 40s linear infinite;
    animation-delay: -20s;
}

/*different color background*/

.bg-color {
    background-image: none;
    background-color: rgb(253, 255, 245);
    color: #2b2523;
}

.bg-color2 {
    background-image: none;
    background-color: #cfbcd394;
    color: #000;
}

/*nav header*/
.wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

a,
a:visited {
    color: #26313A;
    text-decoration: none;
    transition: color 0.1s ease-in-out
}

a:hover,
a:active {
    color: #ff006f;
    text-decoration: none
}

.nav-header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.nav-header.full-height {
    height: 100%;
}

.nav-header .site-nav, .nav-header .hero {
    max-width: 1488px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
}

.site-title {
    color: #26313A;
    font-size: 1.5rem;
    line-height: 1.75em;
    position: relative;
    text-align: center;
}

.site-title a,
.site-title a:visited {
    color: #26313A;
}

.site-title a:hover,
.site-title a:active {
    color: #26313A;
    opacity: .8
}

.site-title div {
    display: inline
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    font-size: 15px;
    text-align: center;
    padding: 2rem 2rem !important;
    z-index: 1;
}

.site-nav li {
    display: inline-block;
}

.site-nav a,
.site-nav a:visited {
    color: #26313A;
}

.site-nav a:hover,
.site-nav .current-page a {
    color: #ff006f
}

.featured {
    margin-bottom: -1.5em;
    color: #26313A;
}


/*.about-me p {
text-align: left;
font-size: 50px;
padding-left: 2em;

}

*/

.about {
    padding: 8rem;
}

.about > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 100px 0;
    margin: 0 0 50px 0 !important;
}

.about > div p {
    padding: 20px 50px;
    max-width: 240px;
    padding: 20px;
    max-width: 500px;
    padding: 20px 0 0 0;
}

.about .illustratie.portrait {
    width: 250px;
    height: auto;
}

.about section {
    flex-direction: column;
}

.about .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-up {
    position: relative;
    bottom: 100%;

    z-index: 2;

}

.about .illustratie.portrait {
    height: 250px;
    width: unset;
}

.about .illustratie {

    height: auto;
    width: 285px;
}

.lets-work-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;
    align-items: center;
}

.lets-work-home {
    position: relative;
    margin-bottom: 2em;
}

.lets-work-text {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
    color: #c5bacb;
    padding: 0;
}

.lets-work-text {
    text-align: left;
    margin-bottom: 0;
}

.emailme {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    margin: 0;
}

.hoveremailme {
    color: #26313A;
    transition: all .5s ease-in;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoveremailme:hover {
    transition: all .5s ease-in;
    transform: scale(110%)
}

.hoveremailme a:hover, .hoveremailme img:hover {
    color: #ff006f;
    transition: all .5s ease-in;
}

.lets-work a img, .lets-work-home a img {
    width: .8em;

}

.emailme svg {
    color: #ff006f;
}

.social-links ul {
    padding: 5px;
    margin: 5px;
}

video {
    width: 110%;
}

main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breadcrumbs a {
    color: #ff006f;
}

.featured-desc {
    border: #92acd9 1pt;
}

/*buttons*/
/*code source:https://codepen.io/kathykato/pen/rZRaNe */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle2 {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #26313A;
    border-radius: 1.625rem;
}

button.learn-more .circle2 .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle2 .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle2 .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #26313A;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
}

button:hover .circle2 {
    width: 100%;
}

button:hover .circle2 .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.portfolio-container .transition4 {
    margin-bottom: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

@media only screen and (max-width: 600px) {
    .portfolio {
        gap: 3rem;
    }

    .about {
        padding: 2rem;
    }

    .circle {
        bottom: 2rem;
        right: 2rem;
    }

    .site-nav {
        flex-direction: column;
    }

    .nav-header .hero {
        margin-top: -130px !important;
    }

    .case-info {
        align-items: flex-start !important;
        text-align: left !important;
    }

    .case {
        padding: 0 2rem;
    }

    .case-title {
        font-size: 2rem;
    }

    .case-img img {
        max-width: 100%;
    }


    .next-case {
        flex-direction: column;
    }
}

@media only screen and (min-width: 630px) {
    .site-title {
        padding-right: 20px;
        text-align: left
    }

    .site-nav {
        font-size: 17px;
        text-align: right;
        max-width: 40%;
    }

    .portfolio-container {
        overflow: auto;
    }
}

@media only screen and (min-width: 800px) {

    h1 {
        font-size: 1.5em;
    }

    .featured,
    .portfolio {
        text-align: left;
        margin-left: .3em;
    }

    .featured,
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr 2fr;

    }

    .about-me {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 20px;
        width: 70%;
    }

    .left,
    .portfolio-left {
        display: grid;
        place-content: center;
    }

    .scroll {
        display: block;
        place-items: center;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }

    .portfolio-container a img {
        margin-top: 0;
        margin-bottom: 2em;
    }

    .portfolio-container img {

        margin-left: 2em;
    }

    .self-portrait-inline {
        display: unset;
    }

    .self-portrait-inline img {
        -o-object-fit: contain;
        object-fit: contain;
        display: inline-block;
        vertical-align: middle;
        width: 16%;
    }

    .self-portrait {
        display: none;
    }

    .hero {
        text-align: left;
        font-weight: 300;
    }

    .hero .content h1 {
        font-size: 50px;

    }

    .about > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 20% 60px 20%;
    }

    .about > div p {
        padding: 20px 50px;
        max-width: 1000Px;
        font-size: 0.8em;
    }

    .about section {
        display: flex;
        flex-direction: row;
    }

    video {
        width: 100%;
    }

    .about {
        margin-bottom: 8em;
    }

}

/*look @ next project*/
.nextproject {
    /* background: #fff1ec; */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15em;
    margin-bottom: 5em;
    width: 100%;
    transition: width .5s ease-out 100ms
}

.nextproject:hover {
    width: 105%;
}

.nextproject p {
    margin: 0px;
    padding-top: 10px;
}

.nextproject h3 {
    font-size: 26px;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.nextproject h2 {
    padding: 10px 0px 0px 0px;
    color: #92acd9;
}

.nextproject h2:hover {
    color: #fbd5dd;
}

.nextproject img {
    padding: 25px 0 0 0;
    max-width: 60%;
    height: auto;
}

.nextproject > section {
    margin: 0px 0px 10px 30px;
    padding: 10px;
}

@media only screen and (min-width: 750px) {
    .lets-work-text {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 801px) {

    .portfolio {
        margin-left: 5%;
        margin-right: 5%;
    }

    .portfolio-container {
        margin-bottom: 8em;

    }

    .portfolio img {
        width: 90%;
        margin-top: 5em;
    }

    .nextproject {
        flex-direction: row;
    }

}

@media only screen and (min-width: 950px) {

    .about .illustratie.portrait {
        height: 50vh;
        width: unset;
    }

    .about > div p {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1050px) {

    .lets-work-home {

        margin-bottom: 7em;
    }

    .lets-work-text {
        text-align: left;
        font-size: 6.5rem;
        display: unset;
        line-height: 1.2em;
    }

    .featured-title {
        font-size: 4em;
    }

    /*
    .hero .content {
      padding: 6em 8em 6em 4em;
    }
    */
    .hero .content h1 {
        font-size: 5em;
        line-height: 1.2em;
    }

    .portfolio img {
        float: right;
        width: 115%;
        z-index: 0;
    }

    .portfolio-container {
        margin-bottom: 20em;
        gap: 5em;
    }

}

@media only screen and (min-width: 1250px) {
    main {
        margin: 0px 10% 50px 10%;
    }
}

@media only screen and (min-width: 1500px) {
    .lets-work-text {
        font-size: 10rem;
    }
}
/*# sourceMappingURL=main.css.map */